<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">watchcharm</a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="#home" class="header-menu-link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#about-us" class="header-menu-link">About Us</a>
        </li>
        <li class="header-menu-item">
          <a href="#catalog" class="header-menu-link">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a href="#sale" class="header-menu-link current">Sale</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="header-menu-link">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a href="#contact-us" class="header-menu-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="soc-media-list">
      <li class="soc-media-item">
        <a href="https://www.facebook.com/goITclub/" class="soc-media-link" target="_blank">
          <svg class="soc-media-icon" width="18" height="18">
            <use href="../img/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-media-item">
        <a href="https://www.instagram.com/goitclub/" class="soc-media-link" target="_blank">
          <svg class="soc-media-icon" width="18" height="18">
            <use href="../img/icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc-media-item">
        <a href="https://www.youtube.com/c/GoIT" class="soc-media-link" target="_blank">
          <svg class="soc-media-icon" width="18" height="18">
            <use href="../img/icons/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="burger-btn" data-menu-open>
      <svg class="burger-icon" width="34" height="34">
        <use href="../img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  
          
        </div>
</header>
