<section>

    <section class="section reviews">
        <div class="container">

            <h2 class="reviews-subtitle-second">
                Reviews
            </h2>

            <ul class="reviews-list">

                <li class="reviews-item">
                    <img class="reviews_img"
                        srcset="../img/reviews/reviews_img_1-min.png 1x, ../img/reviews/reviews_img_1@2x-min.png 2x"
                        src="../img/reviews/reviews_img_1-min.png" alt="Middle-aged bearded man with glasses" width="56"
                        height="56">
                    <h4 class="reviews-subtitle-forth">John Wax</h4>
                    <p class="reviews-item-text">Buying a watch from was the best choice for me. The design is
                        perfectly combined with high quality materials. The strap
                        fits nicely on the hand, and the mechanism works flawlessly.</p>
                </li>

                <li class="reviews-item">
                    <img class="reviews_img"
                        srcset="../img/reviews/reviews_img_2-min.png 1x, ../img/reviews/reviews_img_2@2x-min.png 2x"
                        src="../img/reviews/reviews_img_2-min.png" alt="Blonde woman with red nails and earrings"
                        width="56" height="56">
                    <h4 class="reviews-subtitle-forth">Victoria Romashenko</h4>
                    <p class="reviews-item-text">Can't take my eyes off my watch from. Every time I put it on, it is
                        admired by those around me. The build quality and
                        attention to detail make it a real gem among my accessories.</p>
                </li>

                <li class="reviews-item">
                    <img class="reviews_img"
                        srcset="../img/reviews/reviews_img_3-min.png 1x, ../img/reviews/reviews_img_3@2x-min.png 2x"
                        src="../img/reviews/reviews_img_3-min.png" alt="Young woman with big earrings and glasses"
                        width="56" height="56">
                    <h4 class="reviews-subtitle-forth">Anastasia Trachuk</h4>
                    <p class="reviews-item-text">My watch from is a real masterpiece. Every detail impresses with
                        the high quality of execution. Special features like
                        [specify features] make it an indispensable companion in my daily life.</p>
                </li>
            </ul>
        </div>
    </section>