<section>

    <section class="section review">
        <div class="container">

            <h2 class="subtitle-second review-subtitle-second">
                Reviews
            </h2>

            <ul class="review-list">
                <li class="review-item">
                    <!-- <img srcset="./images/team/img_Mark_Guerrero.jpg 1x, ./images/team/img_Mark_Guerrero@2x.jpg 2x"
                        src="./images/team/img_Mark_Guerrero.jpg" alt="Middle-aged bearded man in blue shirt"
                        width="264"> -->

                    <div class="review-item-text-wrap">
                        <h4 class="subtitle-forth review-subtitle-forth">John Wax</h4>
                        <p class="review-item-text">Buying a watch from was the best choice for me. The design is
                            perfectly combined with high quality materials. The strap
                            fits nicely on the hand, and the mechanism works flawlessly.</p>
                    </div>
                </li>
                <li class="review-item">

                    <div class="review-item-text-wrap">
                        <h4 class="subtitle-forth review-subtitle-forth">Victoria Romashenko</h4>
                        <p class="review-item-text">Can't take my eyes off my watch from. Every time I put it on, it is
                            admired by those around me. The build quality and
                            attention to detail make it a real gem among my accessories.</p>
                    </div>
                </li>
                <li class="review-item">

                    <div class="review-item-text-wrap">
                        <h4 class="subtitle-forth review-subtitle-forth">Anastasia Trachuk</h4>
                        <p class="review-item-text">My watch from is a real masterpiece. Every detail impresses with the
                            high quality of execution. Special features like
                            [specify features] make it an indispensable companion in my daily life.</p>
                    </div>
                </li>
        </div>
    </section>