<section class="section_sale">
    <div class="container">
        <h2 class="sale_head">Sale</h2>
        <div class="sale_content">
            <div class="sale_mini-photo">
                <picture>
                    <source
                        srcset="../img/sale_img/mini-photo-1-desktop-1x.jpg 1x, ../img/sale_img/mini-photo-1-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="../img/sale_img/mini-photo-1-tablet-1x.jpg 1x, ../img/sale_img/mini-photo-1-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1279px)">
                    <source
                        srcset="../img/sale_img/mini-photo-1-mobile_1x.png 1x, ../img/sale_img/mini-photo-1-mobile_2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="mini_photo" src="../img/sale_img/mini-photo-1-desktop-1x.jpg" alt="photo" width="132"
                        height="132">
                </picture>
                <picture>
                    <source
                        srcset="../img/sale_img/mini-photo-2-desktop-1x.jpg 1x, ../img/sale_img/mini-photo-2-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="../img/sale_img/mini-photo-2-tablet-1x.jpg 1x, ../img/sale_img/mini-photo-2-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1279px)">
                    <source
                        srcset="../img/sale_img/mini-photo-2-mobile_1x.png 1x, ../img/sale_img/mini-photo-2-mobile_2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="../img/sale_img/mini-photo-2-desktop-1x.jpg" alt="photo" width="132" height="132">
                </picture>
                <picture>
                    <source
                        srcset="../img/sale_img/mini-photo-3-desktop-1x.jpg 1x, ../img/sale_img/mini-photo-3-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="../img/sale_img/mini-photo-3-tablet-1x.jpg 1x, ../img/sale_img/mini-photo-3-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1279px)">
                    <source
                        srcset="../img/sale_img/mini-photo-3-mobile_1x.png.png 1x, ../img/sale_img/mini-photo-3-mobile_2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="../img/sale_img/mini-photo-3-desktop-1x.jpg" alt="photo" width="132" height="132">
                </picture>
                <picture>
                    <source
                        srcset="../img/sale_img/mini-photo-4-desktop-1x.jpg 1x, ../img/sale_img/mini-photo-4-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="../img/sale_img/mini-photo-4-tablet-1x.jpg 1x, ../img/sale_img/mini-photo-4-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1279px)">
                    <source
                        srcset="../img/sale_img/mini-photo-4-mobile_1x.png 1x, ../img/sale_img/mini-photo-4-mobile_2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="../img/sale_img/mini-photo-4-desktop-1x.jpg" alt="photo" width="132" height="132">
                </picture>
            </div>
            <div class="sale_photo">
                <picture>
                    <source srcset="../img/sale_img/photo-desktop-1x.jpg 1x, ../img/sale_img/photo-desktop-2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="../img/sale_img/photo-tablet-1x.jpg 1x, ../img/sale_img/photo-tablet-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/sale_img/photo-mobile_1x.jpg 1x, ../img/sale_img/photo-mobile_2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="../img/sale_img/photo-desktop-1x.jpg" alt="photo">
                </picture>
            </div>
            <div class="sale_text">
                <div>
                    <h3 class="sale_text_title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                    <p class="sale_text_subtitle">Product tag: 706587</p>
                </div>
                <div class="watch_price">
                    <div class="price_sale"><span class="price_sale_sp">€1500</span></div>
                    <div class="price_sale_no"><span class="price">€3000</span></div>
                </div>
                <p class="sale_text_p">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers
                    that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                    precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
                </p>
                <div class="specifications_list">
                    <span class="specifications">Fused carbon fiber</span>
                    <span class="specifications">Grade-5 Titanuim</span>
                    <span class="specifications">Athlete</span>
                    <span class="specifications">Golfer</span>
                    <span class="specifications">Commander</span>
                    <span class="specifications">Adventurer</span>
                </div>
            </div>
        </div>
    </div>
</section>