/* -----Fonts----- */

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/Gilroy/Gilroy-Semibold.woff),
    url(./fonts/Gilroy/Gilroy-Semibold.woff2);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/Gilroy/Gilroy-Medium.woff),
    url(./fonts/Gilroy/Gilroy-Medium.woff2);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/Gilroy/Gilroy-Regular.woff),
    url(./fonts/Gilroy/Gilroy-Regular.woff2);
}

body {
  font-family: 'Gilroy';
  font-weight: normal;
  font-style: normal;
}
