.contact_us_section {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .contact_us_section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 1280px) {
  .contact_us_section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .contact_us_image_container {
    display: flex;
    gap: 40px;
  }
}

.contact_us_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact_us_title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

.contact_us_content {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 48px 28px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact_us_content {
    padding: 50px 122px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .contact_us_content {
    padding: 50px 60px;
    margin-bottom: 0;
  }
}

.contact_us_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .contact_us_text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}

.contact-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 0 12px 14px;
  width: 100%;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  margin-bottom: 18px;
  transition: border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    outline 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .contact-input {
    height: 52px;
    padding: 16px 0 16px 18px;
  }
}

.contact-input:focus,
.contact-input:active,
.contact-input:not(:placeholder-shown) {
  outline: none;
  border-color: #3350e9;
}

.contact-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}

@media screen and (min-width: 768px) {
  .contact-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}

.input-textarea {
  display: block;
  resize: none;
  height: 84px;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .input-textarea {
    height: 90px;
    margin-bottom: 32px;
  }
}

.contact-button {
  border-radius: 16px;
  width: 134px;
  height: 42px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  border: none;
  margin-bottom: 0;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact-button:hover {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .contact-button {
    width: 160px;
    height: 52px;
  }
}

.img_container {
  height: 512px;
}

@media screen and (min-width: 768px) {
  .img_container {
    height: 556px;
  }
}

@media screen and (min-width: 1280px) {
  .img_container {
    min-width: 530px;
  }
}

.contact_us_image {
  width: 100%;
  height: 512px;
  object-fit: cover;
  object-position: 45% center;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .contact_us_image {
    height: 100%;
    object-position: center;
  }
}

@media screen and (min-width: 1280px) {
  .contact_us_image {
    object-position: 45% center;
  }
}
